<!-- Begin page -->
<div id="wrapper">
  <!-- Top Bar Start -->
  <app-topbar></app-topbar>
  <!-- Top Bar End -->
  <!-- ========== Left Sidebar Start ========== -->
  <!-- Left Sidebar End -->
  <app-sidebar></app-sidebar>
  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="content-page">
    <!-- Start content -->
    <router-outlet></router-outlet>
    <!-- content -->
    <app-footer></app-footer>
  </div>
  <!-- ============================================================== -->
  <!-- End Right content here -->
  <!-- ============================================================== -->
</div>
<!-- END wrapper -->
